body{
    font-family: "Roboto Mono";
    background-image: linear-gradient(rgba(30, 1, 58, 1), rgba(204, 0, 255, 1));
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    color: white;
}